* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	--s: 82px;
	--c1: #b2b2b2;
	--c2: #ffffff;
	--c3: #d9d9d9;

	--_g: var(--c3) 0 120deg, #0000 0;
	background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
		conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
		conic-gradient(from 60deg at calc(200% / 3), var(--c3) 60deg, var(--c2) 0 120deg, #0000 0),
		conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
		linear-gradient(90deg, var(--c1) calc(100% / 6), var(--c2) 0 50%, var(--c1) 0 calc(500% / 6), var(--c2) 0);
	background-size: calc(1.732 * var(--s)) var(--s);
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
